# This file was created by `run! docker ignore`.
# Updating it manually is NOT recommended.

### Custom

.git
.gitignore
docker-compose*

### .gitignore

dev
out.txt
bak


### ~/.gitignore_global

.byebug_history
.sass-cache
*.sublime-project
*.sublime-workspace
.envrc
.env
