services:
  bash:
    build: .
    entrypoint: bash
    <<: &default
      image: dannyben/alf
      volumes: 
      - .:/app
      # - ./alf:/usr/local/bin/alf

  zsh: &zsh
    <<: *default
    environment:
      PS1: "zsh %/ $$ "
    entrypoint: zsh

  # TEST=connect docker compose run test
  test: &test
    <<: *default
    volumes: 
    - .:/app
    environment: { TEST }
    command: test/approve

  test_zsh: &test_zsh
    <<: *zsh
    environment: { CI, GITHUB_ACTIONS }
    command: test/approve_zsh

  ci:
    <<: *test
    environment:
      CI: 1
    volumes: []

